<!DOCTYPE html>
<html>
<head><title>Movie System</title></head>
<body>
    <h1>All Movies</h1>
    <table border="1">
        <tr>
            <th>Title</th> <th>Genres</th> <th>Year</th> <th>Director</th> <th>Cast</th>

        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.genres }}</td>
            <td>{{ movie.release_year }}</td>
            <td>{{ movie.director_name }}</td>
            <td>{{ movie.cast_list }}</td>

            <td>
                <form action="{{ url_for('delete_movie', movie_id=movie.movie_id) }}"
                    method="POST"
                    onsubmit="return confirm('Delete this movie?');">
                    <button type="submit" style="color: red;">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/rate">Rate a Movie</a>
</body>
</html>